html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
    font-weight: 300;
    text-align: center;
}

img{
    max-width: 100%;
    display: block;
}

/***********
Typography
************/

h2{
    text-align: center;
    font-family: Playfair Display, sans-serif;
    margin: 0;
}

/***********
Layout
************/
.container{
    width:95%;
    max-width: 980px;
    margin: 0 auto;
}

header{
    background-color: #FAF2F2;
    margin-bottom: 1em;
}

.site-logo-img{
    width: 9em;
    margin: 0 auto;
}

.container-main{
    width: 70%;
    margin: 0 auto;
    line-height: 1.5;
    margin-bottom: 2em;
}

.main-title{
    margin-bottom: 1em;
}

/* How to Use Section */
.main-video{
    max-width: 100%;
    display: block;
    margin: 1em auto;
}

/* Shop Section */
.shop-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.shop-list li{
    margin: 0;
    padding: 0;
    min-width: 100px;
    width: 60%;
    margin-bottom: 1em;
    letter-spacing: .2em;   
    overflow-wrap: break-word;
}

.shop-list li:last-child{
    margin: 0;
}

.shop-link{
    display:block;
    padding: 2em 2em;
    margin: 0;
    text-decoration: none;
    color: black;

}

.shop-link:hover{
    background-color:#E9D4D4;
}

/***********
Navigation
************/

.container-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

@media (min-width: 675px) {
    .container-nav {
        flex-direction: row;
    }
}

/* site logo */
.site-logo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1em;
}

.site-logo-phrase{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.site-logo-subtitle{
    margin: 0;
}

@media (min-width: 675px){
    .site-logo{
        flex-direction: row;
        text-align: left;
    }

    .site-logo-phrase{
        justify-content:center;
    }

    .site-logo-title{
        font-size: 1rem;
        text-align: left;
        margin: 0;
    }

    .site-logo-subtitle{
        font-size: 0.75rem;
        margin:0;
        text-align: left;
    }
}

/* nav links */
.nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

@media (min-width: 675px){
    .nav-list{
        flex-direction: row;
    }
}

.nav-list li{
    margin: 1em 0;
    letter-spacing: .2em;
    padding:0;
}

.nav-link{
    margin: 0;
    padding: 1em 1em;
    text-decoration: none;
    color: black;
}

.nav-link:hover{
    background-color:#E9D4D4;
}



/* Footer */
footer {
    background-color: #FAF2F2;
}

.container-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-footer p{
    margin:0;
}

@media (min-width: 675px){
    .container-footer{
        padding: 1em;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .contact{
        text-align: left;
    }
}

.social-links{
    color:gray;
    text-decoration: none;
}

.social-links a{
    color:gray;
}

.newsletter-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 40%;
    margin: 1em auto;
}

@media (min-width: 675px){
    .newsletter-form{
        align-items: flex-start;
        margin: 0 0;
    }

    .newsletter-form-label {
        text-align: left;
    }

}